<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="FolderWiseTestCases" group-by-instances="true" preserve-order="true">
    <suite-files>
		
	
	    <suite-file path="ChromeTestResultsXML\UserRole.xml"></suite-file>
		<suite-file path="ChromeTestResultsXML\AOS.xml"></suite-file>
     	<suite-file path="ChromeTestResultsXML\supergroup_addmodifydelete_with_bulkupload_and_validate_offlinereports_in_mysql.xml" />
   		 <suite-file path="ChromeTestResultsXML\usergroup_addmodifydelete_with_bulkupload_and_validate_offlinereports_in_mysql.xml" />
         <suite-file path="ChromeTestResultsXML\net.testcases_worktimemodule.AuditTrailTabValidationWrokTimeAdministrationMenu.xml" />
         <suite-file path="ChromeTestResultsXML\net.testcases_worktimemodule.BusinessHierarchy.xml" />
   		 <suite-file path="ChromeTestResultsXML\net.testcases_wrokflowmodule.validate_customattribute_bulkupload.xml" />
   		 <suite-file path="ChromeTestResultsXML\validate_worktemplate_addmodifydelete_administrationmenu.xml" />
   		 <suite-file path="ChromeTestResultsXML\net.testcases_worktimemodule.ClassficationNewOrg.xml" />
         <suite-file path="ChromeTestResultsXML\ActivityTag.xml"></suite-file>
   		<suite-file path="ChromeTestResultsXML\Category.xml"></suite-file>
   		<suite-file path="ChromeTestResultsXML\users.xml"></suite-file>
        <suite-file path="ChromeTestResultsXML\DataAgreegation.xml"></suite-file>
   		<suite-file path="ChromeTestResultsXML\net.testcases_worktimemodule.OrganizationSettingsAddModifyDeleteForSuperadmin.xml"/>
    	<suite-file path="ChromeTestResultsXML\UserDomain.xml"></suite-file>
		<suite-file path="ChromeTestResultsXML\WorkProfile.xml"></suite-file>
		<suite-file path="ChromeTestResultsXML\users.xml"></suite-file>
			<suite-file path="ChromeTestResultsXML\net.testcases_superadminmodule.SuperAdmin.xml"></suite-file>
		<suite-file path="ChromeTestResultsXML\OrganizationAdmin.xml"></suite-file>
        <!-- Add more suite-file entries for additional folders -->
    </suite-files>
</suite>